@section openGraphIntegration
{
    <meta property="og:title" content="@Model.Title - aDigital.Press"/>
    <meta property="og:image" itemprop="image" content="@Model.HeadImage"/>
    <meta property="og:url" content="http://aDigital.Press/Posts/@Model.SequentialId"/>
    <meta property="og:site_name" content="aDigital.Press"/>
    <meta property="og:description" content="@Model.Description"/>
    <meta property="og:type" content="article" />
}
<div id="fh5co-intro" class="fh5co-section">
    <div class="container">
    <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col-md-8 col-md-offset-2 text-justify" id="fh5co-content">
                    <span style="font-size: 9pt">Publicado em @Model.PublishedOn.ToString("dd/MM/yyyy") por @Model.PublishedBy</span>
                    <a href="/posts/@Model.SequentialId"><h2>@Model.Title</h2></a>
                    @Html.Raw(@Model.Body)
                    </div>
                </div>
            <hr/>

    </div>
    </div>

        <div class="row row-bottom-padded-sm">
            <div class="col-md-8 col-md-offset-2 text-justify" id="fh5co-content">
        <div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = 'http://adigital.press/posts/@Model.SequentialId'
this.page.identifier = '@Model.UUID';
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://adigital-press.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div></div>
    </div>
